    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        padding: 20px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    h1 {
        color: #333;
        font-size: 24px;
        margin-bottom: 20px;
    }
    form {
        margin-bottom: 20px;
    }
    select {
        padding: 5px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }
    button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #296cb9;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    button:hover {
        background-color: #45a049;
    }
