*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}
h1{
    Font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
form {
    background-color: rgb(58, 177, 177);
    width: 40%;
    margin: 0 auto;
    padding: 50px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    border-radius: 15px; 
}
form label{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    background-color: rgb(58, 177, 177);
}
form input{
    width: 70%;
    height: 6vh;
    border-radius: 15px;
    outline: none;
    border: none;
    margin-right: 0;
}
form #email{
    font-size: 18px;
}
button{
    background-color: lightcyan;
    padding: 10px;
    border-radius: 15px;
    border: none;
    transition: 0.3s ease;
    font-size: 18px;
}
button:hover{
    color:#fff;
    background-color: darkslategray;
    cursor: pointer;
}
