<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Science</title>
    <link rel='stylesheet' type='text/css', href='{{url_for('static', filename='css/animal_science.css')}}'>
</head>
<body>
    <section id="animal_science">
        <a href="/">WSAC</a>
        <ul>
            <li><a href="/animal_science">Home</a></li>
            <li><a href="/about_animal_science">About</a></li>
            <li><a href="/courses_animal_science">Courses</a></li>
            <li><a href="/contacts_animal_science">Contacts</a></li>
        </ul>
    </section>
    <section id='home'>
        <h1>Welcome to Department of Animal Sciencepage</h1>
        <p>Animal Science is one of the departments in Wolaita Sodo Agricultural college</p>
        <h2>To learn more about animal science</h2>
        <a href="/about_animal_science">visit here</a>
    </section>
</body>
</html>