<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Health</title>
    <link rel='stylesheet' type='text/css',  href='{{url_for('static', filename='css/animal_health.css')}}'>
</head>
<body>
    <section id="animal_science">
        <a href="/" class='logo_animal_health'>WSAC</a>
        <ul>
            <li><a href="/animal_health">Home</a></li>
            <li><a href="/about_animal_health">About</a></li>
            <li><a href="/courses_animal_health">Courses</a></li>
            <li><a href="/contacts_animal_health">Contacts</a></li>
        </ul>
    </section>
    <section id='home'>
        <h1>Welcome to Department of Animal Health page</h1>
        <p>Animal Health is one of the departments in Wolaita Sodo Agricultural college</p>
        <p>To learn more about animal Health</p>
        <a href='/about_animal_health'>visit here</a>
    </section>
</body>
</html>