<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooperatives and accounting</title>
</head>
<body>
    <section id="animal_science">
        <a href="/home_cooperat ive">WSAC</a>
        <ul>
            <li><a href="/home_cooperative">Home</a></li>
            <li><a href="/about_cooperative">About</a></li>
            <li><a href="/courses_cooperative">Courses</a></li>
            <li><a href="/contacts_cooperative">Contacts</a></li>
        </ul>
    </section>
    <section>
        <h1>Welcome to Department of cooperatives and accounting page</h1>
        <p>Cooperatives and accounting is one of the departments in Wolaita Sodo Agricultural college</p>
        <h2>To learn more about Cooperatives and accounting</h2>
        <a href="/about_cooperative">visit here</a>
    </section>
</body>
</html>