<!DOCTYPE html>
<html>
<head>
    <title>Animal Health Courses</title>
</head>
<body>
    <h1>Animal science Courses</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
                <li> {{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
    
    {% if courses %}
        <ul>
        {% for course in courses %}
            <li>{{ course.title }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No courses available.</p>
    {% endif %}
