<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop production</title>
    <link rel='stylesheet' type='text/css' href='{{url_for('static', filename='css/crop_science.css')}}'>
</head>
<body>
    <section id="crop_science">
        <a href="/" class='logo_crop_science'>WSAC</a>
        <ul>
            <li><a href="//crop_science">Home</a></li>
            <li><a href="/about_crop_science">About</a></li>
            <li><a href="/courses_crop_science">Courses</a></li>
            <li><a href="/contacts_crop_science">Contacts</a></li>
        </ul>
    </section>
    <section id ='home'>
        <h1>Welcome to Department of Crop production page</h1>
        <p>Crop Production is one of the departments in Wolaita Sodo Agricultural college</p>
        <p>To learn more about animal science</p>
        <a href="/about_crop_science">visit here</a>
    </section>
</body>
</html>