<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natural Resource</title>
    <link rel='stylesheet', type='text/css', href='{{url_for('static', filename='css/natural_resource.css')}}'>
</head>
<body>
    <section id="natural_resource">
        <a href="/" class='logo_natural_resource'>WSAC</a>
        <ul>
            <li><a href="/natural_resource">Home</a></li>
            <li><a href="/about_natural_resource">About</a></li>
            <li><a href="/courses_natural_resource">Courses</a></li>
            <li><a href="/contacts_natural_resource">Contacts</a></li>
        </ul>
    </section>
    <section id="home">
        <h1>Welcome to Department of Natural resource management page</h1>
        <p>Natural Resource Management is one of the departments in Wolaita Sodo Agricultural college</p>
        <h2>To learn more about Natural resource</h2>
        <a href="/about_natural_resource">visit here</a>
    </section>
</body>
</html>